* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

.base {
    position: absolute;
    top: 133px;
    left: 256px;
    border-radius: 24px;
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 10px gray; 
}

.name {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    font-size: 24px;
    font-family:'Palanquin Dark', sans-serif;
    font-style: bold;
    padding: 30px 30px 0px 25px ;
}

.form-row input[type='search'] {
    display: block;
    justify-content: left;
    padding: 8px;
    margin: 20px;
    border: none;
    background-color: lightgray;
    border-radius: 8px;
    height: 42px;
    width: 360px;
    font-size: 17px;
    font-family: sans-serif;
}

.lola {
    border-radius: 24px;
    box-shadow: 0px 0px 10px gray;
    width: 360px;
    height: 134px;
    margin: 30px 20px 30px 20px;
}

.information {
    display: flex;
    position: relative;
    top: -120px;
    left: 150px;
    font-size: 22px;
    font-family: sans-serif;
    gap: 5px;
    justify-content: left;
    align-items: center;
}