* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

.base {
    position: absolute;
    top: 133px;
    left: 256px;
    border-radius: 24px;
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 10px gray; 
}

.img-dop1 {
    z-index: 1;
    position: absolute;
    top: 15px;
    left: 15px;
}

.img-dop2 {
    z-index: 1;
    position: absolute;
    top: 15px;
    left: 365px;
}

.container {
    display: column;
    font-family: sans-serif;
    justify-content: left;
    margin: 20px 0px 20px 10px;
    gap: 25px;
}

.container p {
    color: grey;
}